#footer {
    background-color: #2E2F42;
}

#footer a {
    text-decoration: none;
    color: #4D5AE5;
    font-size: 24px;
    line-height: 1.5;
}

#footer a span {
    color: #ffffff;
}

#footer p {
    color: #F4F4FD;
}