.hero-btn {
    background-color: #4d5ae5;
    color: #ffffff;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

.contact-list a {
    line-height: 1.5;
}
.contact a {
    text-decoration: none;
    list-style: none;
    color: #434455;
    font-size: 16px;
    text-decoration: none;
    list-style: none;

}

.contact a:hover {
    color: #404BBF;
}

.hero {
    background-color: #2E2F42;
}

address {
    font-style: normal;
}

address a:hover,
address a:focus {
    color: #404bbf;
}
address a {
    line-height: 1.5;
    letter-spacing: 0.02em;
            color: #434455;
            font-weight: 400;
            text-decoration: none;
            font-style: normal;
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.hero-btn:hover {
    background-color: #404BBF;
}
.hero-btn:hover:focus {
    background-color: #404BBF;
}
.contact-list a:hover,
.contact-list a:focus {
    color: #404bbf;
}