@import './common.css';
@import './header.css';
@import './hero.css';
@import './features.css';
@import './team.css';
@import './portfolio.css';
@import './footer.css';

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-size: 16px;
    
    
}

li {
    text-decoration: none;
    list-style: none;
}

a {
    text-decoration: none;
        list-style: none;
}

.logo {
    text-decoration: none;
    color: #4D5AE5;
    font-size: 24px;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
}
.logo span {
    color: #2E2F42
}

.nav a {
    color: #2E2F42;
}

.nav a:hover {
    color: #404BBF;
}

.nav a:active {
    color: #404BBF; 
}

#hero button {
    color: #ffffff;
    background-color: #4D5AE5;
}
#hero button:hover {
    background-color: #404BBF;
    cursor: pointer;
}
.contact a {
    text-decoration: none;
    list-style: none;
    color: #434455;
    font-size: 16px;
    text-decoration: none;
    list-style: none;

}
.contact a:hover {
    color: #404BBF;
}
#hero {
    background-color: #2E2F42;
}
#hero h1 {
    color: #ffffff;
}

#team {
    background-color: #F4F4FD;
}

#footer {
    background-color: #2E2F42;
}
#footer a {
    text-decoration: none;
        color: #4D5AE5;
        font-size: 24px;
        line-height: 1.5;
}
#footer a span {
    color: #ffffff;
}
#footer p {
    color: #F4F4FD;
}