body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-accent {
    color: #2e2f42;
}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 0.2s ease;
}
.nav-link:hover {
    color: #404bbf;
}
.nav-link:focus {
    color: #404bbf;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}